{{ define "main" }}
<table
	style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
	<tbody>
		<tr style="padding:0px">
			<td style="padding:0px">
				<table
					style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
					<tbody>
						<tr style="padding:0px">
							<td style="padding:2.5%;width:63%;vertical-align:middle">
								<p style="text-align:center">
									<name>{{ .Params.name }}</name>
								</p>
								<p>{{ .Params.bio | markdownify }}</p>
								<p style="text-align:center">
									<a href="mailto:{{ .Params.email }}">Email</a> &nbsp/&nbsp
									<a href="{{ .Params.cv | relURL }}">CV (last update 2023)</a> &nbsp/&nbsp
									<a href="{{ .Params.twitter }}">Twitter</a> &nbsp/&nbsp
									<a href="{{ .Params.github }}">Github</a>
								</p>
							</td>
							<td style="padding:2.5%;width:40%;max-width:40%">
								<img style="width:150px;height:150px;border-radius: 50%; object-fit: cover; object-position: 10% 10px;"
									alt="profile photo" src="{{ .Params.photo | relURL }}" class="hoverZoomLink">
							</td>
						</tr>
					</tbody>
				</table>
				<table
					style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
					<tbody>
						<tr>
							<td style="padding:20px;width:100%;vertical-align:middle">
								<heading>Research</heading>
								<p>{{ .Params.research | markdownify }}</p>
							</td>
						</tr>
						<tr>
							<td style="padding:20px;width:60%;vertical-align:middle">
								<heading>Education Background</heading>
								{{ range .Params.education }}
								<p style="font-weight: bold;font-size: medium;">{{ .institution }}</p>
								<p>{{ .degree }} {{ with .gpa }}<span style="font-weight: bold;font-size: small;">{{ . }}</span>{{ end }}</p>
								{{ with .interests }}<p>Research interests: {{ . }}</p>{{ end }}
								<p>{{ .period }}</p>
								{{ end }}
							</td>
						</tr>
					</tbody>
				</table>
				<table
					style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
					<tbody>
						<tr style="padding:0px">
							<td style="padding:0px">
								<table
									style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
									<tbody>
										<tr>
											<td style="padding:20px;width:60%;vertical-align:middle">
												<heading>Research Experience</heading>
												<ul>
													{{ range .Params.publications }}
													<li style="font-size: medium;">{{ .authors }}. "{{ .title }}". <span style="font-weight: bold;">{{ .venue }}</span>{{ with .pdf }}<a href="{{ . | relURL }}"> [PDF]</a>{{ end }}</li>
													{{ end }}
												</ul>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<table
					style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
					<tbody>
						<tr>
							<td style="padding:20px;width:60%;vertical-align:middle">
								<heading>Work Experience</heading>
								{{ range .Params.work }}
								<p style="font-weight: bold;font-size: medium;">{{ .company }}</p>
								<p>{{ .title }}</p>
								<p>{{ .period }}</p>
								{{ with .description }}
								<p><span style="font-weight: bold;font-size: medium;">Descriptions</span>
								<ul>
									{{ range . }}
									<li>{{ . }}</li>
									{{ end }}
								</ul>
								</p>
								{{ end }}
								{{ end }}
							</td>
						</tr>
					</tbody>
				</table>
				<table
					style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
					<tbody>
						<tr>
							<td style="padding:20px;width:60%;vertical-align:middle">
								<heading>Project</heading>
								{{ range .Params.projects }}
								<div style="padding-bottom:18px">
									<p style="font-weight: bold;font-size: medium;">{{ .company }}</p>
									<p>{{ .title }} {{ with .screenshot }}<a href="{{ . | relURL }}" target="_blank">Screenshot</a>{{ end }}</p>
									<p>{{ .period }}</p>
									{{ with .tech }}<p style="font-size:medium">{{ . }}</p>{{ end }}
									{{ with .accomplishments }}
									<p><span style="font-weight: bold;font-size: medium;">Key accomplishment</span>
									<ul>
										{{ range . }}
										<li>{{ . | markdownify }}</li>
										{{ end }}
									</ul>
									</p>
									{{ end }}
								</div>
								{{ end }}
							</td>
						</tr>
					</tbody>
				</table>
				<table
					style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
					<tbody>
						<tr>
							<td style="padding:20px;width:100%;vertical-align:middle">
								<heading>Micellaneous</heading>
								<p>{{ .Params.miscellaneous }}</p>
							</td>
						</tr>
					</tbody>
				</table>
				<table
					style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
					<tbody>
						<tr>
							<td style="padding:20px">
								<p font-size:small;=""><br><br></p>
								<div style="float:left;">{{ .Params.updated }}</div>
								<div style="float:right;">{{ .Params.credit | markdownify }}</div>
								<br><br>
								<p></p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
{{ end }}
